TEP=Training Experience Performance

Feature Scaling-->Technique used to standardize the values within fixed range.

Feature Scaling:
Xscaled=(X-Xmin)/(Xmax-Xmin)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.DataFrame({'Price_USA$':[80,50,140,25],
                   'Price_INR(Rupee)':[5000,7000,12000,3000]})
data

   Price_USA$  Price_INR(Rupee)
0          80              5000
1          50              7000
2         140             12000
3          25              3000

In [3]:
data['Price_USA$'].min()

25

In [4]:
data['Price_USA$'].max()

140

In [5]:
d=(data['Price_USA$']-data['Price_USA$'].min())/(data['Price_USA$'].max()-data['Price_USA$'].min())
d

0    0.478261
1    0.217391
2    1.000000
3    0.000000
Name: Price_USA$, dtype: float64

In [6]:
data['Price_INR(Rupee)'].min()

3000

In [7]:
data['Price_INR(Rupee)'].min()

3000

In [8]:
e=(data['Price_INR(Rupee)']-data['Price_INR(Rupee)'].min())/(data['Price_INR(Rupee)'].max()-data['Price_INR(Rupee)'].min())
e

0    0.222222
1    0.444444
2    1.000000
3    0.000000
Name: Price_INR(Rupee), dtype: float64

In [9]:
data=pd.DataFrame({'Price_USA$':d,'Price_INR(Rupee)':e})
data

   Price_USA$  Price_INR(Rupee)
0    0.478261          0.222222
1    0.217391          0.444444
2    1.000000          1.000000
3    0.000000          0.000000

now let's check the above case (preprocessing) using scikit-learn

Min-Max Normalization -->values will be in the range of (0,1).

In [10]:
import sklearn

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
min_max=MinMaxScaler()

In [13]:
data=pd.DataFrame({'Price_USA$':[80,50,140,25],
                   'Price_INR(Rupee)':[5000,7000,12000,3000]})
data

   Price_USA$  Price_INR(Rupee)
0          80              5000
1          50              7000
2         140             12000
3          25              3000

fit()+transform()-->fit_transform()

In [14]:
data['Price_USA$']=min_max.fit_transform(data[['Price_USA$']])
data['Price_USA$']

0    0.478261
1    0.217391
2    1.000000
3    0.000000
Name: Price_USA$, dtype: float64

In [15]:
data['Price_INR(Rupee)']=min_max.fit_transform(data[['Price_INR(Rupee)']])
data['Price_INR(Rupee)']

0    0.222222
1    0.444444
2    1.000000
3    0.000000
Name: Price_INR(Rupee), dtype: float64

In [16]:
data

   Price_USA$  Price_INR(Rupee)
0    0.478261          0.222222
1    0.217391          0.444444
2    1.000000          1.000000
3    0.000000          0.000000

sklearn requires 2D data

fit() and transform() seperately

In [17]:
data=pd.DataFrame({'Price_USA$':[80,50,140,25],
                   'Price_INR(Rupee)':[5000,7000,12000,3000]})
data

   Price_USA$  Price_INR(Rupee)
0          80              5000
1          50              7000
2         140             12000
3          25              3000

In [18]:
e=min_max.fit(data[['Price_USA$']])
e

MinMaxScaler()

In [19]:
data['Price_USA$']=e.transform(data[['Price_USA$']])
data['Price_USA$']

0    0.478261
1    0.217391
2    1.000000
3    0.000000
Name: Price_USA$, dtype: float64

In [20]:
f=min_max.fit(data[['Price_INR(Rupee)']])
f

MinMaxScaler()

In [21]:
data['Price_INR(Rupee)']=f.transform(data[['Price_INR(Rupee)']])
data['Price_INR(Rupee)']

0    0.222222
1    0.444444
2    1.000000
3    0.000000
Name: Price_INR(Rupee), dtype: float64

In [22]:
data

   Price_USA$  Price_INR(Rupee)
0    0.478261          0.222222
1    0.217391          0.444444
2    1.000000          1.000000
3    0.000000          0.000000

StandardardScaler -->standardise the values with unit variance.

In [23]:
data=pd.DataFrame({'Price_USA$':[80,50,140,25],
                   'Price_INR(Rupee)':[5000,7000,12000,3000]})
data

   Price_USA$  Price_INR(Rupee)
0          80              5000
1          50              7000
2         140             12000
3          25              3000

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
scaler=StandardScaler()

In [26]:
data['Price_USA$']=scaler.fit_transform(data[['Price_USA$']])
data['Price_USA$']

0    0.145617
1   -0.553346
2    1.543544
3   -1.135815
Name: Price_USA$, dtype: float64

In [27]:
data['Price_INR(Rupee)']=scaler.fit_transform(data[['Price_INR(Rupee)']])
data['Price_INR(Rupee)']

0   -0.523205
1    0.074744
2    1.569614
3   -1.121153
Name: Price_INR(Rupee), dtype: float64

In [28]:
data

   Price_USA$  Price_INR(Rupee)
0    0.145617         -0.523205
1   -0.553346          0.074744
2    1.543544          1.569614
3   -1.135815         -1.121153